.input-cover {
    input {
        width: 100%;
        height: 35px;
        border: 1px solid #CCC;
        border-radius: 10px;
        padding-left: 10px;
        margin-top: 5px;
    }

    input:focus {
        outline: 2px solid #9BBBFC;
    }
}