.div-parent {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    inset: 0;
}

.modal-content {
    background: #FFF;
    padding: 20px;
    border-radius: 20px;
    width: 350px;
    position: relative;
}